
body {
	background-image: url("tree.jpg");
	margin-left: 100px;
	margin-right: 100px;
	
}

header {
	
	text-align: center;
}
#logo {
	padding-top: 15px;
	padding-bottom: 7px;
	color: green;
}
.container {
	background-color: #F2F2F2;
	width: 775px;
	margin: 0 auto;
}


main {

	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#main-bottom-content {
	text-align: left;
}
li {
	
	padding-left: 30px;
	padding-right: 20px;
	text-align: center;
	display: inline;
	font-family: 
	
	
}
	
.tomins {
	padding-left: 40px;
	width: 350px;
	height: 200px;
}
	
#bot1 img{
	padding-left: auto 0;
	
}	

#bot3 img {
	padding-bottom: 20px;
}
footer {
	
	text-align: center;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
